.contact-container{
    margin-left: 13pc;
    margin-right: 13pc;
    margin-top: 2pc;
    margin-bottom: 2pc;
    border: .6px solid black;
    display: flex;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;

}

.left{
    text-align: center;
    width: 30%;
}
.right{
    width: 60%;
}
.right>form>input{
    height: 2pc;
    width: 30pc;
}
.btn{
    margin-top: 2pc;
    height: 3pc;
    width: 31pc;
    color: white;
    background-color: darkblue;
    border-radius: 4%;
    border: none;
}

.vl {
    border-left: 1px solid black;
    height: 325px;
    
    justify-self: center;
  }